<!-- Modals -->
<script type="text/ng-template" id="signUpModal.html">
  <div class="modal-header">
    <h4 class="modal-title">Sign Up</h4>
  </div>
  <form ng-submit="addUser()" name="signUpForm">
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</alert>
        </div>
      </div>
        <div class="row">
          <div class="col-lg-3">
            <b>Username:</b><br>
          </div>
          <div class="col-lg-9">
            <input type="text" ng-model="newUsername" required="true" placeholder="UserName" class="sign-up-input"><br><br>
          </div>
          <div class="col-lg-3">
            <b>Password:</b><br>
          </div>
          <div class="col-lg-9">
            <input type="password" ng-model="newUserPassword" required="true" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" class="sign-up-input"><br><br>
          </div>
          <div class="col-lg-3">
            <b>Verify Password:</b>
          </div>
          <div class="col-lg-9">
            <input type="password" ng-model="verifyNewUserPassword" required="true" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" class="sign-up-input">
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="close()">Close</button>
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
</script>

<div id="signInModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Sign In</h4>
      </div>
      <form ng-submit="signIn()" name="signInForm">
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</alert>
            </div>
          </div>
            <div class="row">
              <div class="col-lg-3">
                <b>Username:</b><br>
              </div>
              <div class="col-lg-9">
                <input type="text" ng-model="existingUsername" required="true" placeholder="example@email.com" class="sign-up-input"><br><br>
              </div>
              <div class="col-lg-3">
                <b>Password:</b><br>
              </div>
              <div class="col-lg-9">
                <input type="password" ng-model="existingUserPassword" required="true" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" class="sign-up-input"><br><br>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Header -->
<div class="container">
  <div class="row page-header">
    <div class="col-lg-2">
      <img src="./washington-dc-us-capitol-s.jpg" alt="Capitol" class="capitol-icon shadow-box" />
      <h4 class="head-text">VoteTracker</h4>
    </div>
    <div class="col-lg-8">
      <alert ng-repeat="alert in signedInAlerts" class="shadow-box" type="{{alert.type}}" close="closeSignedInAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</alert>
    </div>
    <div class="col-lg-1 head-btn" ng-hide="signedIn">
      <button type="button" class="btn btn-default shadow-box" ng-click="open('signInModal.html')">Sign In</button>
    </div>
    <div class="col-lg-1" ng-hide="signedIn">
      <button type="button" class="btn btn-default head-btn shadow-box" ng-click="open('signUpModal.html')">Sign Up</button>
    </div>
    <div class="col-lg-1 col-lg-offset-1" ng-show="signedIn">
      <button type="button" class="btn btn-default head-btn shadow-box" ng-click="logout()">Logout</button>
    </div>
  </div>

<!-- Body -->
  <div class="row">
    <div class="col-lg-2 side-bar">
      <a ui-sref="main.home"><button role="presentation" class="shadow-box btn btn-primary col-lg-10">Home</button></a><br><br><br>
      <a href="#/main/profile/{{user._id}}" ng-show="signedIn"><button role="presentation" class="col-lg-10 shadow-box btn btn-primary">Profile</button></a>
    </div>
    <div ui-view class="col-lg-10"></div>
    </div>
  </div>

</div>
