<!-- Add Post Modal -->
<div id="addBillModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add A Bill</h4>
      </div>
      <form ng-submit="addBill()" name="addBillForm">
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-3">
              <b>Short Title:</b><br>
            </div>
            <div class="col-lg-9">
              <input type="text" ng-model="short_title" required="true" placeholder="H.R. 1098..." class="sign-up-input big-input"><br><br>
            </div>
            <div class="col-lg-3">
              <b>Official Title:</b><br>
            </div>
            <div class="col-lg-9">
              <input type="text" ng-model="official_title" placeholder="A bill to..." class="sign-up-input big-input"><br><br>
            </div>
            <div class="col-lg-3">
              <b>Description:</b><br>
            </div>
            <div class="col-lg-9">
              <textarea rows="8" cols="40" ng-model="description" required="true" class="sign-up-input comment-area big-input" placeholder="Description..."></textarea><br><br>
            </div>
            <div class="col-lg-3">
              <b>Status:</b><br>
            </div>
            <div class="col-lg-9">
              <input type="radio" value="successful" ng-model="status"> Successful</input>&nbsp;&nbsp;
              <input type="radio" value="failed" ng-model="status"> Failed</input>&nbsp;&nbsp;
              <input type="radio" value="in progress" ng-model="status"> In Progress</input><br><br>
            </div>
            <div class="col-lg-3">
              <b>Senate Votes:</b><br>
            </div>
            <div class="col-lg-9">
              <input type="number" ng-model="senate_votes.aye" placeholder="Aye" class="sign-up-input"><br><br>
              <input type="number" ng-model="senate_votes.nay" placeholder="Nay" class="sign-up-input"><br><br>
              <input type="number" ng-model="senate_votes.present" placeholder="Present" class="sign-up-input"><br><br>
            </div>
            <div class="col-lg-3">
              <b>House Votes:</b><br>
            </div>
            <div class="col-lg-9">
              <input type="number" ng-model="house_votes.aye" placeholder="Aye" class="sign-up-input"><br><br>
              <input type="number" ng-model="house_votes.nay" placeholder="Nay" class="sign-up-input"><br><br>
              <input type="number" ng-model="house_votes.present" placeholder="Present" class="sign-up-input"><br><br>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" form="addBillForm" class="btn btn-primary" ng-click="addBill()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Body -->
<div class="container-fluid">
  <div class="col-lg-12 row home-alerts">
    <alert ng-repeat="alert in alerts" class="shadow-box" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</alert>
  </div>
  <div class="row bill-cell" ng-repeat="bill in bills">
    <div class="panel panel-primary col-md-12 bill-panel shadow-box">
      <div class="panel-body">
        <div class="row">
          <up-down class="col-sm-1"></up-down>
          <h3 class="col-sm-6">{{bill.short_title}}</h3>
          <h3 class="col-sm-2 status">{{bill.created_by}}</h3>
          <h5 class="col-sm-2 status">{{bill.status | uppercase}}</h5>
          <span class="glyphicon glyphicon-collapse-down" drop-down ng-click="showDescription = !showDescription"></span>
          <a href="#/main/comments/{{bill._id}}"><span class="glyphicon glyphicon-comment"></span></a>
          <span class="comment-count">{{bill.comments.length}}</span>
        </div>
      </div>
      <div class="panel-footer more-box" ng-show="showDescription">
        <div class="row">
          <h3 class="col-sm-6 result-head">Senate Votes</h3>
          <h3 class="col-sm-6 result-head">House Votes</h3>
        </div>
        <div class="row">
          <div class="vote-area col-sm-6">
            <span>Aye: <span class="aye">{{bill.results.senate_votes.aye || "N/A"}}</span>&nbsp; &nbsp;</span>
            <span>Nay: <span class="nay">{{bill.results.senate_votes.nay || "N/A"}}</span>&nbsp; &nbsp;</span>
            <span>Present: <span class="present">{{bill.results.senate_votes.present || "N/A"}}</span></span>
          </div>
          <div class="vote-area col-sm-6">
            <span>Aye: <span class="aye">{{bill.results.house_votes.aye || "N/A"}}</span>&nbsp; &nbsp;</span>
            <span>Nay: <span class="nay">{{bill.results.house_votes.nay || "N/A"}}</span>&nbsp; &nbsp;</span>
            <span>Present: <span class="present">{{bill.results.house_votes.present || "N/A"}}</span></span>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <p>{{bill.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="submit-button shadow-box" data-toggle="modal" data-target="#addBillModal" ng-show="$parent.signedIn">
  <span class="glyphicon glyphicon-pencil"></span>
</div>
