<div class="about">
  <h1>About VoteTracker</h1>
  <p>
    First of all, thanks for checking out my site. This is a project I worked on for a web development course at DevMountain, a coding bootcamp in Provo, UT. I chose this project because politics is a passion of mine, and I think everyone deserves to know what their elected representatives are up to. This site is designed to allow users to discuss and vote on current and past congressional bills. I wanted to let people talk about the bills they are interested in, and see what other people are saying about legislative activity.
  </p>
  <p>
    To fully access all features of this app, your first step to be to create an account and log in. Once you've done this, you'll be able to upvote or downvote any bills that users have submitted, leave comments, submit your own bills for others to discuss, and view your personal activity. On the home page is a list of all bills currently being talked about. On the panel of each bill is the upvote/downvote control, the status of the bill (successful/passed, failed, or in progress), a dropdown panel that shows more information specific to the bill, and a button that takes you to the comment section for the bill. Once you've signed in, there will also be a button in the lower-right corner that allows you to submit a bill not currently in the database.
  </p>
  <p>
    Again, thank you for taking the time to take a look at my project. Please let me know about any issues or suggestions you have at spencerhdavies@gmail.com. Stay informed and stay involved!
  </p>
</div>
<br><br>
