<!-- Header -->
<div class="container">
  <div class="row page-header">
    <div class="col-lg-3">
      <img src="./washington-dc-us-capitol-s.jpg" alt="Capitol" class="capitol-icon" />
    </div>
    <div class="col-lg-7">
      <h1 class="head-text">Vote Tracker</h1>
    </div>
    <div class="col-lg-1 head-btn">
      <button type="button" class="btn btn-default">Sign in</button>
    </div>
    <div class="col-lg-1">
      <button type="button" class="btn btn-default head-btn">Sign Up</button>
    </div>
  </div>

<!-- Body -->
  <div class="row">
    <div class="col-lg-2 side-bar">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a ui-sref="main.home">Home</a></li>
        <li role="presentation"><a ui-sref="main.profile">Profile</a></li>
      </ul>
    </div>
    <div ui-view class="col-lg-10"></div>
    </div>
  </div>

</div>
