#bgvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.capitol-icon {
  height: 100px;
  width: 100px;
  border-radius: 15px;
  display: inline-block;
}

.nav-pills>li {
  cursor: pointer;
}

.head-text {
  font-family: 'Scada', sans-serif;
  font-style: italic;
  margin-left: 2px;
  /*-webkit-text-stroke: 1px #337ab7;*/
  color: #337ab7;
  text-shadow:
    3px 3px 3px #1F2933,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #1F2933,
    1px -1px 0 #1F2933,
   -1px  1px 0 #1F2933,
    1px  1px 0 #1F2933;
}

.shadow-box {
  box-shadow: 5px 5px 10px #000,
  /*-1px -1px 0px #000,
   1px -1px 0px #000,
  -1px  1px 0px #000,
   1px  1px 0px #000;*/
}

.sign-up-input {
  border-radius: 20px;
  padding: 3px 6px;
  width: 200px;
}

.comment-area {
  padding: 5px;
}

.head-btn {
  margin-top: 40px;
}

up-down {
  margin-top: 5px;
}

.vote-count {
  position: relative;
  right: 5px;
  bottom: 2px;
  padding: 3px 8px;
}

.status {
  position: relative;
  top: 18px;
}

.comment-page {
  color: #337ab7;
  font-weight: bold;
}

.glyphicon-collapse-down {
  font-size: 25px;
  position: relative;
  top: 23px;
  cursor: pointer;
}

.glyphicon-collapse-up {
  font-size: 25px;
  position: relative;
  top: 23px;
  cursor: pointer;
}

.glyphicon-pencil {
  font-size: 25px;
  position: relative;
  top: 23px;
  left: 15px;
}

.glyphicon-menu-left {
  font-size: 36px;
  margin-top: 20px;
  margin-left: 25px;
}

.more-box {
  margin-bottom: 15px;
}

.result-head {
  text-align: center;
}

.vote-area {
  text-align: center;
  font-weight: bold;
}

.comment-count {
  position: relative;
  top: 25px;
  font-weight: bold;
  color: #337ab7;
}

.aye {
  color: green;
}

.nay {
  color: red;
}

.present {
  color: grey;
}

.comment-submit {
  margin-top: 10px;
}
