.capitol-icon {
  height: 100px;
  width: 100px;
  border-radius: 15px;
  display: inline-block;
}

.nav-pills>li {
  cursor: pointer;
}

.head-text {
  font-size: 72px !important;
}

.head-btn {
  margin-top: 40px;
}

up-down {
  margin-top: 5px;
}

.vote-count {
  position: relative;
  right: 5px;
  bottom: 2px;
  padding: 3px 8px;
}

.status {
  position: relative;
  top: 18px;
}

.glyphicon-collapse-down {
  font-size: 25px;
  position: relative;
  top: 23px;
  cursor: pointer;
}

.glyphicon-collapse-up {
  font-size: 25px;
  position: relative;
  top: 23px;
  cursor: pointer;
}

.glyphicon-pencil {
  font-size: 25px;
  position: relative;
  top: 23px;
  left: 15px;
}

.glyphicon-menu-left {
  font-size: 36px;
  margin-top: 20px;
}

.more-box {
  margin-bottom: 15px;
}

.result-head {
  text-align: center;
}

.vote-area {
  text-align: center;
  font-weight: bold;
}

.aye {
  color: green;
}

.nay {
  color: red;
}

.present {
  color: grey;
}
